<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear Nuevo Usuario</ion-title>
    <ion-buttons slot="end"> 
      <!-- Botón de cerrar modal -->
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" class="fas fa-times"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="crearUsuario()">

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input 
                label="Nombre" 
                label-placement="floating" 
                fill="outline" 
                placeholder="Nombre"
                name="nombres"
                [(ngModel)]="usuario.nombres"
                (ionInput)="autocompletarUsuario()"
                required>
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-input 
                label="Apellido" 
                label-placement="floating" 
                fill="outline" 
                placeholder="Apellido"
                name="apellidos"
                [(ngModel)]="usuario.apellidos"
                (ionInput)="autocompletarUsuario()"
                required>
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input 
                label="Usuario" 
                label-placement="floating" 
                fill="outline" 
                placeholder="Usuario"
                name="usuario"
                [(ngModel)]="usuario.usuario"
                required>
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-input 
                label="Contraseña" 
                label-placement="floating" 
                fill="outline"
                placeholder="Contraseña"
                name="password"
                [(ngModel)]="usuario.password"
                required>
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-select
                interface="popover"
                label="Rol" 
                label-placement="floating" 
                fill="outline"
                placeholder="Rol"
                name="rol"
                [(ngModel)]="usuario.rol"
                required>
                <ion-select-option [value]="20">Supervisor de Soporte</ion-select-option>
                <ion-select-option [value]="30">Supervisor de Equipos</ion-select-option>
                <ion-select-option [value]="40">Supervisor de Mantenimiento</ion-select-option>
                <ion-select-option [value]="50">Supervisor de Proyectos</ion-select-option>
                <ion-select-option [value]="21">Soporte</ion-select-option>
                <ion-select-option [value]="31">Equipos</ion-select-option>
                <ion-select-option [value]="41">Mantenimiento</ion-select-option>
                <ion-select-option [value]="51">Proyectos</ion-select-option>
                <ion-select-option [value]="60">Solo Lectura</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-input
                label="Fecha de nacimiento"
                label-placement="floating"
                fill="outline"
                placeholder="Fecha de nacimiento"
                [(ngModel)]="usuario.fecha_nacimiento"
                name="fecha_nacimiento"
                type="date">
              </ion-input>
            </ion-col>
          </ion-row>

        </ion-grid>
        <div class="ion-text-center">
          <ion-button type="submit" shape="round" expand="full" color="secondary">Crear Usuario</ion-button>
        </div>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>