ion-header{
    position: absolute;
}

ion-card-header {
    text-align: center;
  
    ion-card-title, ion-card-subtitle {
      margin: 0 auto;
      text-align: center;
    }
}

ion-content{
    --ion-background-color:#E1EAF9;
}

ion-card {
    --ion-background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de transparencia */
    width: 50%; /* ancho */
    height: 75%; /* alto */
    transform: translate(50%, -15%);
}

/* Ajustes para pantallas más pequeñas (tablets y móviles) */
@media only screen and (max-width: 768px) {
    ion-card {
        width: 95%; /* ancho */
        height: 60%; /* alto */
        transform: translate(0%, -5%);
    }
}

@media only screen and (max-width: 480px) {
    ion-card {
        width: 95%; /* ancho */
        height: 50%; /* alto */
        transform: translate(0%, -5%);
    }
}
  
ion-icon {
    margin-right: 10px; /* Espacio entre el icono y el input */
    font-size: 24px; /* Ajusta el tamaño del icono según sea necesario */
}