<ion-content>

  <ion-img src="assets/images/header.png"></ion-img>
  <ion-card>
    
    <ion-card-header>
      <ion-card-title>
        Bienvenido
      </ion-card-title>
      <hr>
      <ion-card-subtitle>
        Sistema de Gestión de la Unidad de Tecnologías de la Información y Comunicación.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-input 
          type="text" 
          placeholder="Usuario"
          [(ngModel)]="credentials.usuario" 
          (keydown.enter)="login()">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="key"></ion-icon>
        <ion-input 
          type="password" 
          placeholder="Contraseña"
          [(ngModel)]="credentials.password" 
          (keydown.enter)="login()">
        </ion-input>
      </ion-item>
      <br>
      <div style="text-align: center">
        <ion-button shape="round" (click)="login()">Iniciar Sesión</ion-button>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
