ion-header{
    position: absolute;
}

ion-card-header {
    text-align: center;
  
    ion-card-title, ion-card-subtitle {
      margin: 0 auto;
      text-align: center;
    }
}

ion-content{
    --ion-background-color:#E1EAF9;
}

ion-card {
    --ion-background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de transparencia */
}
  
ion-icon {
    margin-right: 10px; /* Espacio entre el icono y el input */
    font-size: 24px; /* Ajusta el tamaño del icono según sea necesario */
}