<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Abre el menú -->
    </ion-buttons>
    <ion-title>Formularios de CPU</ion-title>
    <ion-buttons slot="end"> <!-- Botón de regresar en la derecha -->
      <ion-button (click)="recargarPagina()">
        <ion-icon slot="icon-only" class="fa fa-refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <ion-card-content>
      <div class="table-responsive">
        <table id="formulariosTable" class="display compact" style="width:100%">
          <thead>
            <tr>
              <th>Número de Formulario</th>
              <th>Institución</th>
              <th>Provincia</th>
              <th>Edificio</th>
              <th>Ubicación</th>
              <th>Artículo</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Serie</th>
              <th>Activo Fijo</th>
              <th>Memoria</th>
              <th>Procesador</th>
              <th>Sistema Operativo</th>
              <th>Disco Duro</th>
              <th>% Disco Duro</th>
              <th>Observación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let formulario of formularios">
              <td>{{ formulario.numeroFormulario }}</td>
              <td>{{ formulario.institucion }}</td>
              <td>{{ formulario.provincia }}</td>
              <td>{{ formulario.edificio }}</td>
              <td>{{ formulario.articulo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
