<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Abre el menú -->
    </ion-buttons>
    <ion-title>Administrar Formularios de CPU</ion-title>
    <ion-buttons slot="end"> <!-- Botón de recargar -->
      <ion-button (click)="recargarPagina()">
        <ion-icon slot="icon-only" class="fa fa-refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="search-container">
      <ion-button expand="block" class="single-line-button" color="secondary" [routerLink]="['/cpu-create']">
        <i class="fa fa-plus"></i> &nbsp;
        Crear Formulario
      </ion-button>
      <ion-searchbar placeholder="Buscar por formulario, serie o código..."></ion-searchbar>
    </div>
  </ion-card>

  <ion-card>
    <div class="scroll-container"> <!-- Habilitar scroll horizontal -->
      <ion-grid>
        <!-- Encabezados -->
        <ion-row class="header-row">

          <ion-col>
            <div class="col-accion">
              <strong>Acción</strong>
            </div>
          </ion-col>
          
          <ion-col (click)="ordenarPor('numeroFormulario')">
            <div class="col-num-formulario">
              <strong>Número de Formulario </strong> <ion-icon [name]="sortColumn === 'numeroFormulario' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>

          <ion-col (click)="ordenarPor('oficina')">
            <div class="col-oficina">
              <strong>Oficina </strong> <ion-icon [name]="sortColumn === 'oficina' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>
          
          <ion-col (click)="ordenarPor('marca')">
            <div class="col-marca">
              <strong>Marca </strong> <ion-icon [name]="sortColumn === 'marca' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>

          <ion-col (click)="ordenarPor('modelo')">
            <div class="col-modelo">
              <strong>Modelo </strong> <ion-icon [name]="sortColumn === 'modelo' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>
          
          <ion-col (click)="ordenarPor('serie')">
            <div class="col-serie">
              <strong>Serie </strong> <ion-icon [name]="sortColumn === 'serie' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>
          
          <ion-col (click)="ordenarPor('activoFijo')">
            <div class="col-activo-fijo">
              <strong>Activo Fijo </strong> <ion-icon [name]="sortColumn === 'activoFijo' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>

          <ion-col (click)="ordenarPor('ram')">
            <div class="col-ram">
              <strong>Ram </strong> <ion-icon [name]="sortColumn === 'ram' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>
          
          <ion-col (click)="ordenarPor('procesador')">
            <div class="col-procesador">
              <strong>Procesador </strong> <ion-icon [name]="sortColumn === 'procesador' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>
          
          <ion-col (click)="ordenarPor('sistemaOperativo')">
            <div class="col-sistema-operativo">
              <strong>Sistema Operativo </strong> <ion-icon [name]="sortColumn === 'sistemaOperativo' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>
          
          <ion-col (click)="ordenarPor('almacenamiento')">
            <div class="col-almacenamiento">
              <strong>Almacenamiento </strong> <ion-icon [name]="sortColumn === 'almacenamiento' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>
          
          <ion-col (click)="ordenarPor('porcentaje')">
            <div class="col-porcentaje">
              <strong>% </strong> <ion-icon [name]="sortColumn === 'porcentaje' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>
          
          <ion-col (click)="ordenarPor('observacion')">
            <div class="col-observacion">
              <strong>Observación </strong> <ion-icon [name]="sortColumn === 'observacion' ? (sortDirection === 'asc' ? 'arrow-up' : 'arrow-down') : ''"></ion-icon>
            </div>
          </ion-col>
        </ion-row>

        <!-- Filas de Formularios -->
        <ion-row *ngFor="let formulario of formularios">
          <ion-col class="col-accion">
            <ion-button color="white" size="small">
              <ion-icon slot="icon-only" class="fa fa-pencil" color="secondary"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col><div class="col-num-formulario">{{ formulario.numeroFormulario }}</div></ion-col>
          <ion-col><div class="col-oficina">{{ formulario.oficina }}</div></ion-col>
          <ion-col><div class="col-marca">{{ formulario.marca }}</div></ion-col>
          <ion-col><div class="col-modelo">{{ formulario.modelo }}</div></ion-col>
          <ion-col><div class="col-serie">{{ formulario.serie }}</div></ion-col>
          <ion-col><div class="col-activo-fijo">{{ formulario.activoFijo }}</div></ion-col>
          <ion-col><div class="col-ram">{{ formulario.ram }}</div></ion-col>
          <ion-col><div class="col-procesador">{{ formulario.procesador }}</div></ion-col>
          <ion-col><div class="col-sistema-operativo">{{ formulario.sistemaOperativo }}</div></ion-col>
          <ion-col><div class="col-almacenamiento">{{ formulario.almacenamiento }}</div></ion-col>
          <ion-col><div class="col-porcentaje">{{ formulario.porcentaje }}</div></ion-col>
          <ion-col><div class="col-observacion">{{ formulario.observacion }}</div></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
