ion-toolbar {
    --background: #0054e9; /* Cambia el color de fondo del toolbar */
    --color: #ffffff; /* Cambia el color del texto en el toolbar */
}

ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
}

.scroll-container {
    overflow-x: auto; /* Habilita el scroll horizontal */
    white-space: nowrap; /* Asegura que los elementos dentro del contenedor no se envuelvan */
    scrollbar-width: thick; /* Hace que el scroll sea más grueso en Firefox */
}

.scroll-container::-webkit-scrollbar {
    height: 12px; /* Grosor del scrollbar en navegadores WebKit (Chrome, Safari) */
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del scroll */
    border-radius: 10px; /* Bordes redondeados */
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo del scroll */
}

ion-row {
    border-bottom: 1px solid #ddd; /* Línea separadora entre filas */
    background-color: #ffffff; /* Color de fondo */
    color: #000000; /* Color de texto */
}

ion-row.header-row {
    background-color: #0054e9; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
    font-weight: bold; /* Texto del encabezado en negrita */
    text-align: center; /* Centrar el texto */
    font-size: 0.9rem; /* Tamaño del texto del encabezado */
}

ion-col {
    border-right: 1px solid #ddd; /* Línea separadora entre columnas */
    padding: 10px; /* Espaciado interno para mejorar la apariencia */
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: center; /* Alinea horizontalmente */
    word-wrap: break-word; /* Permite que el texto se divida en palabras si es necesario */
    white-space: normal; /* Permite que el texto envuelva a la siguiente línea */
    height: 30px; /* Establece un alto */
    font-size: 12px; /* Tamaño de letra */
}

ion-grid {
    min-width: 2200px; /* Asegura que el grid sea lo suficientemente ancho para el scroll horizontal */
    border: 1px solid #ddd; /* Borde alrededor de toda la tabla */
    overflow-x: auto; /* Asegura que el ion-grid tenga scroll si es necesario */
    scrollbar-width: thick; /* Hace que el scroll sea más grueso en Firefox */
}



/* Anchos fijos para cada columna */
.col-accion { 
    width: 50px; word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-num-formulario { 
    width: 300px; word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-ubicacion { 
    width: 250px; 
    word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-marca { 
    width: 75px; 
    word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-modelo { 
    width: 100px; 
    word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-serie { 
    width: 100px; 
    word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-activo-fijo { 
    width: 100px; 
    word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-memoria { 
    width: 75px; 
    word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-procesador { 
    width: 75px; 
    word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-sistema-operativo { 
    width: 150px; 
    word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-disco-duro { 
    width: 75px; 
    word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-porcentaje-disco { 
    width: 25px; 
    word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}
.col-observacion { 
    width: 500px; 
    word-wrap: break-word;  /* Permite ajustar el texto al tamaño de la columna */
    white-space: normal;    /* Permite que el texto ocupe varias líneas si es necesario */
    text-align: justify;    /* Alinea el texto de forma justificada */
}


.search-container {
    display: flex;
    align-items: center;
}
  
.single-line-button {
    white-space: nowrap; /* Asegura que el texto no se divida en dos líneas */
    flex-shrink: 0; /* Evita que el botón se reduzca */
    margin-right: 10px; /* Espacio entre el botón y la barra de búsqueda */
}
  
.search-container ion-searchbar {
    flex-grow: 1; /* La barra de búsqueda ocupará el espacio restante */
}