<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Abre el menú -->
    </ion-buttons>
    <ion-title>Administrar Formularios de CPU</ion-title>
    <ion-buttons slot="end"> <!-- Botón de recargar -->
      <ion-button (click)="recargarPagina()">
        <ion-icon slot="icon-only" class="fa fa-refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="search-container">
      <ion-button expand="block" class="single-line-button" color="secondary" [routerLink]="['/cpu-create']">
        <i class="fa fa-plus"></i> &nbsp;
        Crear Formulario
      </ion-button>
      <ion-searchbar placeholder="Buscar por formulario, serie o código..."></ion-searchbar>
    </div>
  </ion-card>

  <ion-card>
    <div class="scroll-container"> <!-- Habilitar scroll horizontal -->
      <ion-grid>
        <!-- Encabezados -->
        <ion-row class="header-row">
          <ion-col><div class="col-accion"><strong>Acción</strong></div></ion-col>
          <ion-col><div class="col-num-formulario"><strong>Número de Formulario</strong></div></ion-col>
          <ion-col><div class="col-ubicacion"><strong>Ubicación</strong></div></ion-col>
          <ion-col><div class="col-marca"><strong>Marca</strong></div></ion-col>
          <ion-col><div class="col-modelo"><strong>Modelo</strong></div></ion-col>
          <ion-col><div class="col-serie"><strong>Serie</strong></div></ion-col>
          <ion-col><div class="col-activo-fijo"><strong>Activo Fijo</strong></div></ion-col>
          <ion-col><div class="col-memoria"><strong>Memoria</strong></div></ion-col>
          <ion-col><div class="col-procesador"><strong>Procesador</strong></div></ion-col>
          <ion-col><div class="col-sistema-operativo"><strong>Sistema Operativo</strong></div></ion-col>
          <ion-col><div class="col-disco-duro"><strong>DiscoDuro</strong></div></ion-col>
          <ion-col><div class="col-porcentaje-disco"><strong>%</strong></div></ion-col>
          <ion-col><div class="col-observacion"><strong>Observación</strong></div></ion-col>
        </ion-row>

        <!-- Filas de Formularios -->
        <ion-row *ngFor="let formulario of formularios">
          <ion-col class="col-accion">
            <ion-button color="white" size="small">
              <ion-icon slot="icon-only" class="fa fa-pencil" color="secondary"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col><div class="col-num-formulario">{{ formulario.numeroFormulario }}</div></ion-col>
          <ion-col><div class="col-ubicacion">{{ formulario.ubicacion }}</div></ion-col>
          <ion-col><div class="col-marca">{{ formulario.marca }}</div></ion-col>
          <ion-col><div class="col-modelo">{{ formulario.modelo }}</div></ion-col>
          <ion-col><div class="col-serie">{{ formulario.serie }}</div></ion-col>
          <ion-col><div class="col-activo-fijo">{{ formulario.activoFijo }}</div></ion-col>
          <ion-col><div class="col-memoria">{{ formulario.memoria }}</div></ion-col>
          <ion-col><div class="col-procesador">{{ formulario.procesador }}</div></ion-col>
          <ion-col><div class="col-sistema-operativo">{{ formulario.sistemaOperativo }}</div></ion-col>
          <ion-col><div class="col-disco-duro">{{ formulario.discoDuro }}</div></ion-col>
          <ion-col><div class="col-porcentaje-disco">{{ formulario.porcentajeDiscoDuro }}</div></ion-col>
          <ion-col><div class="col-observacion">{{ formulario.observacion }}</div></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
