<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Abre el menú -->
    </ion-buttons>
    <ion-title>Crear Formulario CPU</ion-title>
    <ion-buttons slot="end"> <!-- Botón de regresar en la derecha -->
      <ion-button (click)="regresar()">
        <ion-icon slot="icon-only" class="fas fa-arrow-left"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="crearFormulario()">



    <!-- Inicio Encabezado -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-select 
            okText="Aceptar" 
            cancelText="Cancelar"
            placeholder="INSTITUCIÓN"
            name="institucion"
            [(ngModel)]="formulario.institucion"
            required>
            <ion-select-option value="CNE">CONSEJO NACIONAL ELECTORAL</ion-select-option>
          </ion-select>
        </ion-col>            

        <ion-col>
          <ion-select
            okText="Aceptar" 
            cancelText="Cancelar"
            placeholder="LUGAR"
            name="provincia"
            [(ngModel)]="formulario.provincia"
            required>
            <ion-select-option value="MATRIZ">QUITO - MATRIZ</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-select
            okText="Aceptar" 
            cancelText="Cancelar"
            placeholder="EDIFICIO"
            name="edificio"
            [(ngModel)]="formulario.edificio"
            required>
            <ion-select-option value="6_DE_DICIEMBRE">6 DE DICIEMBRE</ion-select-option>
            <ion-select-option value="PLATAFORMA">PLATAFORMA</ion-select-option>
            <ion-select-option value="ED.RUMIPAMBA">EDIFICIO RUMIPAMBA</ion-select-option>
            <ion-select-option value="ED.ROMERO">EDIFICIO ROMERO</ion-select-option>
            <ion-select-option value="ED.ARCOTEL">EDIFICIO ARCOTEL</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-select
            okText="Aceptar" 
            cancelText="Cancelar"
            placeholder="ARTÍCULO"
            name="articulo"
            [(ngModel)]="formulario.articulo"
            (ionChange)="onArticuloChange()"
            required>
            <ion-select-option value="CPU">CPU</ion-select-option>
            <ion-select-option value="MON">Monitor</ion-select-option>
            <ion-select-option value="TEC">Teclado</ion-select-option>
            <ion-select-option value="MOU">Mouse</ion-select-option>
            <ion-select-option value="UAE">Unidad de Almacenamiento Externo</ion-select-option>
            <ion-select-option value="CPO">Cámara Polycom</ion-select-option>
            <ion-select-option value="ESC">Escáner</ion-select-option>
            <ion-select-option value="IMP">Impresora</ion-select-option>
            <ion-select-option value="LAP">Laptop</ion-select-option>
            <ion-select-option value="LEC">Lector de Barras</ion-select-option>
            <ion-select-option value="PAR">Parlante</ion-select-option>
            <ion-select-option value="TIP">Teléfono IP</ion-select-option>
            <ion-select-option value="TVS">Televisor</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin Encabezado -->


    
    <!-- Inicio entradas permanentes -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input
            name="marca"
            label="Marca" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.marca">
          </ion-input>
        </ion-col>

        <ion-col>
          <ion-input
            name="modelo"
            label="Modelo" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.modelo">
          </ion-input>
        </ion-col>

        <ion-col>
          <ion-input
            name="serie"
            label="Serie" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.serie">
          </ion-input>
        </ion-col>

        <ion-col>
          <ion-input
            name="activoFijo"
            label="Activo Fijo" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.activoFijo">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-input
            name="usuario"
            label="Usuario del activo" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.usuario">
          </ion-input>
        </ion-col>

        <ion-col size="3">
          <ion-input
            name="oficina"
            label="Oficina" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.oficina">
          </ion-input>
        </ion-col>

        <ion-col size="6">
          <ion-input
            name="observacion"
            label="Observacion" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.observacion">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin entradas permanentes -->



    <!-- Inicio CPU -->
    <ion-grid *ngIf="mostrarCamposCPU"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col>
          <ion-input
            type="number"
            name="ram"
            label="Ram en Gb"
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.ram">
          </ion-input>
        </ion-col>

        <ion-col>
          <ion-select
            okText="Aceptar" 
            cancelText="Cancelar"
            label="Procesador" 
            label-placement="floating" 
            fill="outline"
            name="procesador"
            [(ngModel)]="formulario.procesador"
            required>
            <ion-select-option value="S/N">Sin datos</ion-select-option>
            <ion-select-option value="Intel Xeon">Intel Xeon</ion-select-option>
            <ion-select-option value="Intel Dual Core">Intel Dual Core</ion-select-option>
            <ion-select-option value="Intel Core 2 Duo">Intel Core 2 Duo</ion-select-option>
            <ion-select-option value="Intel Core 2 Quad">Intel Core 2 Quad</ion-select-option>
            <ion-select-option value="Intel I3">Intel I3</ion-select-option>
            <ion-select-option value="Intel I5">Intel I5</ion-select-option>
            <ion-select-option value="Intel I7">Intel I7</ion-select-option>
            <ion-select-option value="Intel I9">Intel I9</ion-select-option>
            <ion-select-option value="AMD Ryzen 3">AMD Ryzen 3</ion-select-option>
            <ion-select-option value="AMD Ryzen 5">AMD Ryzen 5</ion-select-option>
            <ion-select-option value="AMD Ryzen 7">AMD Ryzen 7</ion-select-option>
            <ion-select-option value="AMD Ryzen 9">AMD Ryzen 9</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-select
            okText="Aceptar" 
            cancelText="Cancelar"
            label="Sistema Operativo" 
            label-placement="floating" 
            fill="outline"
            name="sistemaOperativo"
            [(ngModel)]="formulario.sistemaOperativo"
            required>
            <ion-select-option value="S/N">Sin datos</ion-select-option>
            <ion-select-option value="Windows XP">Windows XP</ion-select-option>
            <ion-select-option value="Windows 7 PRO">Windows 7 PRO</ion-select-option>
            <ion-select-option value="Windows 10 PRO">Windows 10 PRO</ion-select-option>
            <ion-select-option value="Windows 11 PRO">Windows 11 PRO</ion-select-option>
            <ion-select-option value="MacOs Mojave">MacOs Mojave</ion-select-option>
            <ion-select-option value="MacOs Catalina">MacOs Catalina</ion-select-option>
            <ion-select-option value="MacOs Big Sur">MacOs Big Sur</ion-select-option>
            <ion-select-option value="MacOs Monterey">MacOs Monterey</ion-select-option>
            <ion-select-option value="MacOs Ventura">MacOs Ventura</ion-select-option>
            <ion-select-option value="Linux">Basado en Linux</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-input
            type="number"
            name="almacenamiento"
            label="Almacenamiento en Gb"
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.almacenamiento">
          </ion-input>
        </ion-col>

        <ion-col>
          <ion-input
            type="number"
            name="porcentaje"
            label="Porcentaje"
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.porcentaje">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin CPU -->


    <!-- Inicio MONITOR -->
    <ion-grid *ngIf="mostrarCamposMON"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col size="3">
          <ion-input
            type="number"
            name="pulgadas"
            label="Pulgadas"
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.pulgadas">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin MONITOR -->



    <!-- Inicio TECLADO -->
    <ion-grid *ngIf="mostrarCamposTEC"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col size="3">
          <ion-input
            name="tipo"
            label="Tipo de Teclado" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.tipo">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin TECLADO -->



    <!-- Inicio MOUSE -->
    <ion-grid *ngIf="mostrarCamposMOU"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col size="3">
          <ion-input
            name="tipo"
            label="Tipo de Mouse" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.tipo">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin MOUSE -->



    <!-- Inicio UNIDAD DE ALMACENAMIENTO EXTERNO -->
    <ion-grid *ngIf="mostrarCamposUAE"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col size="3">
          <ion-input
            type="number"
            name="almacenamiento"
            label="Almacenamiento en Gb"
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.almacenamiento">
          </ion-input>
        </ion-col>

        <ion-col size="3">
          <ion-input
            type="number"
            name="porcentaje"
            label="Porcentaje"
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.porcentaje">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin UNIDAD DE ALMACENAMIENTO EXTERNO -->



    <!-- Inicio CAMARA POLYCOM -->
    <ion-grid *ngIf="mostrarCamposUAE"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col>
 
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin CAMARA POLYCOM -->



    <!-- Inicio ESCANER -->
    <ion-grid *ngIf="mostrarCamposESC"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col size="3">
          <ion-input
            type="number"
            name="numeroScan"
            label="Número de Escaneos"
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.numeroScan">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin CAMARA ESCANER -->



    <!-- Inicio IMPRESORAS -->
    <ion-grid *ngIf="mostrarCamposIMP"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col size="3">
          <ion-input
            name="tipo"
            label="Tipo de Impresora" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.tipo">
          </ion-input>
        </ion-col>

        <ion-col size="3">
          <ion-input
            name="direccionIP"
            label="Direccion IP" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.direccionIP">
          </ion-input>
        </ion-col>

        <ion-col size="3">
          <ion-input
            type="number"
            name="numeroImpresiones"
            label="Número de Impresiones"
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.numeroImpresiones">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin IMPRESORAS -->



    <!-- Inicio LAPTOP -->
    <ion-grid *ngIf="mostrarCamposLAP"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col>
          <ion-input
            type="number"
            name="ram"
            label="Ram en Gb"
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.ram">
          </ion-input>
        </ion-col>

        <ion-col>
          <ion-select
            okText="Aceptar" 
            cancelText="Cancelar"
            label="Procesador" 
            label-placement="floating" 
            fill="outline"
            name="procesador"
            [(ngModel)]="formulario.procesador"
            required>
            <ion-select-option value="S/N">Sin datos</ion-select-option>
            <ion-select-option value="Intel Xeon">Intel Xeon</ion-select-option>
            <ion-select-option value="Intel Dual Core">Intel Dual Core</ion-select-option>
            <ion-select-option value="Intel Core 2 Duo">Intel Core 2 Duo</ion-select-option>
            <ion-select-option value="Intel Core 2 Quad">Intel Core 2 Quad</ion-select-option>
            <ion-select-option value="Intel I3">Intel I3</ion-select-option>
            <ion-select-option value="Intel I5">Intel I5</ion-select-option>
            <ion-select-option value="Intel I7">Intel I7</ion-select-option>
            <ion-select-option value="Intel I9">Intel I9</ion-select-option>
            <ion-select-option value="AMD Ryzen 3">AMD Ryzen 3</ion-select-option>
            <ion-select-option value="AMD Ryzen 5">AMD Ryzen 5</ion-select-option>
            <ion-select-option value="AMD Ryzen 7">AMD Ryzen 7</ion-select-option>
            <ion-select-option value="AMD Ryzen 9">AMD Ryzen 9</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-select
            okText="Aceptar" 
            cancelText="Cancelar"
            label="Sistema Operativo" 
            label-placement="floating" 
            fill="outline"
            name="sistemaOperativo"
            [(ngModel)]="formulario.sistemaOperativo"
            required>
            <ion-select-option value="S/N">Sin datos</ion-select-option>
            <ion-select-option value="Windows XP">Windows XP</ion-select-option>
            <ion-select-option value="Windows 7 PRO">Windows 7 PRO</ion-select-option>
            <ion-select-option value="Windows 10 PRO">Windows 10 PRO</ion-select-option>
            <ion-select-option value="Windows 11 PRO">Windows 11 PRO</ion-select-option>
            <ion-select-option value="MacOs Mojave">MacOs Mojave</ion-select-option>
            <ion-select-option value="MacOs Catalina">MacOs Catalina</ion-select-option>
            <ion-select-option value="MacOs Big Sur">MacOs Big Sur</ion-select-option>
            <ion-select-option value="MacOs Monterey">MacOs Monterey</ion-select-option>
            <ion-select-option value="MacOs Ventura">MacOs Ventura</ion-select-option>
            <ion-select-option value="Linux">Basado en Linux</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-input
            type="number"
            name="almacenamiento"
            label="Almacenamiento en Gb"
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.almacenamiento">
          </ion-input>
        </ion-col>

        <ion-col>
          <ion-input
            type="number"
            name="porcentaje"
            label="Porcentaje"
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.porcentaje">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin LAPTOP -->



    <!-- Inicio LECTOR DE BARRAS -->
    <ion-grid *ngIf="mostrarCamposLEC"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col>
 
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin LECTOR DE BARRAS -->



    <!-- Inicio PARLANTES -->
    <ion-grid *ngIf="mostrarCamposPAR"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col size="3">
          <ion-input
            name="tipo"
            label="Tipo de Parlante" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.tipo">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin PARLANTES -->



    <!-- Inicio TELEFONOS IP -->
    <ion-grid *ngIf="mostrarCamposTIP"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col size="3">
          <ion-input
            name="direccionIP"
            label="Dirección IP" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.direccionIP">
          </ion-input>
        </ion-col>

        <ion-col size="3">
          <ion-input
            name="nombreRegistrado"
            label="Nombre Registrado" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.nombreRegistrado">
          </ion-input>
        </ion-col>

        <ion-col size="3">
          <ion-input
            name="extension"
            label="Extensión" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.extension">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin TELEFONOS IP -->



    <!-- Inicio TELEVISORES -->
    <ion-grid *ngIf="mostrarCamposTVS"> <!-- Controlar la visualización -->
      <ion-row>
        <ion-col size="3">
          <ion-input
            name="tipo"
            label="Tipo de Televisor" 
            labelPlacement="floating"
            fill="outline"
            [(ngModel)]="formulario.tipo">
          </ion-input>
        </ion-col>

        <ion-col size="3">
          <ion-select
            interface="popover"
            label="Smart TV" 
            label-placement="floating" 
            fill="outline"
            name="smartTV"
            [(ngModel)]="formulario.smartTV"
            required>
            <ion-select-option value="SI">Si</ion-select-option>
            <ion-select-option value="NO">No</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Fin TELEVISORES -->



    <ion-button type="submit" shape="round" expand="full" color="secondary">Crear Formulario</ion-button>
  </form>
</ion-content>
