ion-toolbar {
    --background: #0054e9; /* Cambia el color de fondo del toolbar */
    --color: #ffffff; /* Cambia el color del texto en el toolbar */
}

.text-grey {
    color: grey !important; /* Cambia el color del texto a gris */
}