<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Abre el menú -->
    </ion-buttons>
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons slot="end"> <!-- Botón de regresar en la derecha -->
      <ion-button (click)="regresar()">
        <ion-icon slot="icon-only" class="fas fa-arrow-left"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input 
              label="Nombre" 
              label-placement="floating" 
              fill="outline" 
              placeholder="Nombre"
              name="nombres"
              [(ngModel)]="usuario.nombres">
            </ion-input>
          </ion-col>
          <ion-col>
            <ion-input 
              label="Apellido" 
              label-placement="floating" 
              fill="outline" 
              placeholder="Apellido"
              name="apellidos"
              [(ngModel)]="usuario.apellidos">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input 
              label="Usuario" 
              label-placement="floating" 
              fill="outline" 
              placeholder="Usuario"
              name="usuario"
              [(ngModel)]="usuario.usuario">
            </ion-input>
          </ion-col>
          <ion-col>
            <ion-input 
              label="Contraseña" 
              label-placement="floating" 
              fill="outline"
              placeholder="******"
              name="password"
              [(ngModel)]="usuario.password">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-select
              interface="popover"
              label="Rol" 
              label-placement="floating" 
              fill="outline"
              placeholder="Rol"
              name="rol"
              [(ngModel)]="usuario.rol">
              <ion-select-option [value]="2">Gestor</ion-select-option>
              <ion-select-option [value]="3">Técnico</ion-select-option>
              <ion-select-option [value]="4">Usuario</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-toggle
                [enableOnOffLabels]="true"
                [(ngModel)]="usuario.estado">
                <ion-label class="text-grey">Estado:</ion-label>
              </ion-toggle>
            </ion-item>
          </ion-col>          
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="text-grey">Fecha de Nacimiento</ion-label>
              <ion-datetime 
                [(ngModel)]="usuario.fecha_nacimiento" 
                presentation="date"
                placeholder="Seleccione la fecha"
                displayFormat="DD/MM/YYYY">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-grid>
      <div class="ion-text-center">
        <ion-button type="submit" (click)="actualizarUsuario()" shape="round" expand="full" color="secondary">Actualizar Usuario</ion-button>
      </div>
    
  </ion-card>
</ion-content>








