<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Abre el menú -->
    </ion-buttons>
    <ion-title>Crear Nuevo Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="crearUsuario()">

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input 
                label="Nombre" 
                label-placement="floating" 
                fill="outline" 
                placeholder="Nombre"
                name="nombres"
                [(ngModel)]="usuario.nombres"
                required>
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-input 
                label="Apellido" 
                label-placement="floating" 
                fill="outline" 
                placeholder="Apellido"
                name="apellidos"
                [(ngModel)]="usuario.apellidos"
                required>
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input 
                label="Usuario" 
                label-placement="floating" 
                fill="outline" 
                placeholder="Usuario"
                name="usuario"
                [(ngModel)]="usuario.usuario"
                required>
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-input 
                label="Contraseña" 
                label-placement="floating" 
                fill="outline"
                placeholder="Contraseña"
                name="password"
                [(ngModel)]="usuario.password"
                required>
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-select
                label="Rol" 
                label-placement="floating" 
                fill="outline" 
                placeholder="Rol"
                name="rol"
                [(ngModel)]="usuario.rol"
                required>
                <ion-select-option [value]="2">Gestor</ion-select-option>
                <ion-select-option [value]="3">Técnico</ion-select-option>
                <ion-select-option [value]="4">Usuario</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label position="floating">Fecha de Nacimiento</ion-label>
              <ion-item>
                <ion-datetime 
                  presentation="date" 
                  [preferWheel]="true" 
                  [(ngModel)]="usuario.fecha_nacimiento"
                  name="fecha_nacimiento">
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-grid>
        <ion-button expand="block" type="submit" class="ion-margin-top">Crear Usuario</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
