<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Abre el menú -->
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>Bienvenido</ion-card-header>
    <ion-card-content>
      <p>Página de inicio.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut repellat nulla beatae non aliquam possimus nam corrupti qui labore veritatis cum vero nisi nesciunt sequi atque asperiores praesentium, necessitatibus cupiditate?</p>
    </ion-card-content>
    

  </ion-card>

</ion-content>
