<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Abre el menú -->
    </ion-buttons>
    <ion-title>Formularios de CPU</ion-title>
    <ion-buttons slot="end"> <!-- Botón de regresar en la derecha -->
      <ion-button (click)="recargarPagina()">
        <ion-icon slot="icon-only" class="fa fa-refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="table-responsive">
      <table id="formulariosTable" class="display">
        <thead>
          <tr>
            <th>Número Formulario</th>
            <th>Institución</th>
            <th>Provincia</th>
            <th>Edificio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let formulario of formularios">
            <td>{{ formulario.numeroFormulario }}</td>
            <td>{{ formulario.institucion }}</td>
            <td>{{ formulario.provincia }}</td>
            <td>{{ formulario.edificio }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card>
</ion-content>
